.ui-dialog.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
    padding: 0.1;
}

.hide {
	display: none;
}

.show {
	display: inline;
}

.trello-button {
    position: absolute;
    right: -6.8em;
    top: 0;
    padding: 3px 8px 4px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(45deg, #0000B0, #33ADDF)
}
